.gradient {
  background-color: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 38%, #d5d3e0 82%, #f6f6f6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 38%,#d5d3e0 82%,#f6f6f6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 38%,#d5d3e0 82%,#f6f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
;
  height: 800px;
}

.gradient article {
  height: 800px;
  display:flex;

.main_width {
  height: 560px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 300px;
  height: 60px;
  border-radius: 15px;
  background-color: #25C8AB;
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  margin: 0 auto;
  line-height: 50px;
}

  .post__content{
    padding-top:120px;
text-align: center;
    font-size:27px;
    h1{
      font-size: 60px;
      margin-bottom:50px;
    }
    p{
      margin-bottom: 10px;
    }
  }
}