header {
  background-color: black;
  height: 80px;
  color: white;
  padding-top: 10px;
  font-size: 25px;
div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  line-height: 50px;

}
  ul {
    list-style: none
  }
    font-size:25px;


}

.dropdown {
  position: relative;
  display: inline-block;
  li {
    display: inline-block;
    text-transform: uppercase;
  a{
    text-decoration: none;
  }
  }
&:hover .dropdown-content{
  position: absolute;
  display: block;
  background-color: black;
}

}
.dropdown-content {
  display: none;
}