
.price-box {
  background-color: white;
  height: 1150px;
  background-color: #F1F1F1;
}

.price-box .main_width {
  height: 1150px;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  h3:first-child{
    MARGIN-LEFT:20px;
    margin-top: 20px;
    position:absolute;
    align-self: flex-start;
    font-size:40px;
  &:after{
    display: block;
    content: "";
    width:400px;
    height: 5px;
    background-color: #25C8AB;
  }
  }
}
.big_box{
  font-size:35px;
  width: 30%;
  height: 73%;
  background-color: white;
  border:1px lightgray solid;
  margin-bottom: 5%;
  position: relative;

  .big_circle{
    width:95px ;
    height: 95px;
    background-color: white;
    border:1px lightgray solid;
    border-radius: 50%;
    position:absolute;
    transform: translate(205px,-42px);
    padding:19px;
.small_circle{
  width: 55px;
  height: 55px;
  background-color: darkgrey;
  border-radius: 50%;
  margin:0 auto;
}
  }
h3{
  margin-top:70px ;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  text-transform:uppercase;
  color:#25C8AB;
}
  .price_circle{
    border-radius:50%;
    width:200px;
    height:200px;
    border:1px lightgray solid;
    margin:40px auto;
    text-align:center;
    font-size:45px;
    color:lightgray;
    font-weight: 700;
    padding:54px;
  }
  div:nth-child(4n+2),div:nth-child(4n){
    background-color: darkgrey;
    height:9%;
    text-align: center;
    padding:17px;
    color:grey;
  }

  div.lightgrey{
    background-color:lightgrey;
    height:9%;
    text-align: center;
    padding:17px;
    color:grey;
  }
  button {
    position: relative;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: #25C8AB;
    margin: 40px 185px;
    font-size:30px;
    border:none;
  }
  #button1{
    margin-top:190px;
  }
  #button2{
    margin-top:115px;
  }


  &:hover{
    background-color: #25C8AB;

    border:1px #25C8AB solid;
    h3{
      color:white;
    }
    .price_circle{
      background-color: white;
      color:#25C8AB;
    }
    div:nth-child(4n+2),div:nth-child(4n){
      background-color: white;
    }
.big_circle{
  background-color: #25C8AB;
  border:1px #25C8AB solid;
}
    .small_circle{
      background-color: white;
    }
button{
  color:#25C8AB;
  background-color: white;
}

  }

}